<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <i class="fas fa-book"></i>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "書本列表", books_path, class: 'navbar-item' %>
    </div>

    <div class="navbar-end">
      <div class="navbar-item" data-controller="cart" data-action="ajax:success@window->cart#update">
        <%= link_to cart_path, class: 'button' do %>
          <i class="fas fa-shopping-cart"></i> (<span data-target="cart.items"><%= current_cart.items.count %></span>)
        <% end %>

        <% if user_signed_in? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <%= current_user.email %>
            </a>

            <div class="navbar-dropdown">
              <%= link_to "我的訂單", orders_path, class: 'navbar-item' %>
              <hr class="navbar-divider">
              <%= link_to "登出", destroy_user_session_path, method: 'delete', class: 'navbar-item' %>
            </div>
          </div>
        <% else %>
          <%= link_to "註冊", new_user_registration_path, class: 'button is-primary' %>
          <%= link_to "登入", new_user_session_path, class: 'button is-light' %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</nav>