
<h1 class="title">訂單</h1>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>訂單編號</th>
      <th>金額</th>
      <th>時間</th>
      <th>狀態</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order|%>
   <tr>
    <td><%= order.num %></td>
    <td><%= order.total_price %></td>
    <td><%= order.created_at %></td>
    <td><%= order.state%></td>
    <td>
      <%= link_to "付款", pay_order_path(order.num), class: 'button is-danger is-small' if order.may_pay? %>
      <%= link_to "取消訂單", cancel_order_path(order.num), method: 'put', data: {confirm: '確定取消訂單?'}, class: 'button is-primary is-small' if order.may_cancel? %>
      <%= link_to "退貨", '#', class: 'button is-info is-small' if order.delivered? && order.may_cancel? %>
    </td>
   </tr>
  <%end%>
  </tbody>
</table>