<% if @book.errors.any? %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message%></li>
    <%end%>
  </ul>
<%end%>


<%= form_for(@book) do |form|%>
    <%= form.label :title, '標題'%>
    <%= form.text_field :title %><br><br>

    <%= form.label :description, '內容'%>
    <%= form.text_area :description %><br>

    <%= form.label :list_price, '售價'%>
    <%= form.number_field :list_price %><br>

    <%= form.label :sell_price, '特價'%>
    <%= form.number_field :sell_price %><br>

    <%= form.label :page_num, '頁數'%>
    <%= form.text_field :page_num %><br>

    <%= form.label :isbn, 'ISBN'%>
    <%= form.text_field :isbn %><br>

    <%= form.label :isbn13, 'ISBN-13'%>
    <%= form.text_field :isbn13 %><br>

    <%= form.submit%>
<%end%>





