<%= flash[:notice]%>

<h1><i class="fas fa-book-open"></i>商品列表</h1>

<a  href="/books/new">html寫法<a>
<br>
<a  href="<%= new_book_path %>">很醜的混合寫法<a>
<br>
<%= link_to "棒棒噠寫法", new_book_path%>

<br>

<h1><i class="fas fa-book-open"></i>書本列表</h1>
<%= link_to "新增書本", new_book_path, class: 'button is-primary '%>

<ul><section class="columns is-multiline">
<% @book.each do |book| %>
  <div class="column is-3">
    <div class="card">
      <div class="card-image">
        <figure class="image ">
          <%= cover_image_tag book, width: 300, height: 300, dummy_img: true %>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
               <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= book.title %></p>
            <p class="subtitle is-6">@johnsmith</p>
          </div>
        </div>

        <div class="content">
          <%= book.description %>
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          <hr>
          <%= link_to "編輯", edit_book_path(book), class: 'button is-light is-small' %>
          <%= link_to "刪除",book_path(book), method: 'delete',data: {confirm:'確定嗎?'},class: 'button is-light is-small'  %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</section>


