<h1 class="title">書名： <%= @book.title%></h1>

<figure class="image">
  <%= cover_image_tag @book, dummy_img: true %>
</figure>

<article>
  <%= simple_format(@book.description)%>
</article>

<section>
  <%= form_with(model: @comment,url: comment_book_path(@book), id:'comment_form')  do |form| %>
    <div class="field">
      <%= form.label :title, '標題', class: 'label' %>
      <%= form.text_field :title, class: 'input' %>
    </div>
    <div class="field">
      <%= form.label :content, '內文', class: 'label' %>
      <%= form.text_area :content, class: 'textarea' %>
    </div>
    <%= form.submit '送出', class: 'button is-primary' %>
  <% end %>
</section>

<section id="comment_area">
  <%= render @comments %>
</section>
<a href="/books">返回商品列表</a>