<%= notice%>
<h1 class="title is-3 has-text-grey-light">Publisher List
<i class="fas fa-cash-register"></i> 出版社
</h1>
<%= link_to 'Add Publisher', new_admin_publisher_path %>


<table class="table is-hoverable">
  <thead>
    <tr>
      <th>名稱</th>
      <th>電話</th>
      <th>地址</th>
      <th>狀態</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @publishers.each do |publisher|%>
    <tr>
        <td><%= link_to publisher.name,edit_admin_publisher_path(publisher)%></td>
        <td><%= link_to publisher.tel%></td>
        <td><%= link_to publisher.address%></td>
        <td><%= link_to publisher.online%></td>
        <td><%= link_to '編輯', edit_admin_publisher_path(publisher)%></td> 
        <td><%= link_to '刪除',admin_publisher_path(publisher), method: 'delete',data:{confirm: '確認？'}%></td> 
    </tr>
  <% end %>
  </tbody>
</table>